.barchart-rect:hover {
    fill: #5a6d94 !important;
}

.barchart-rect {
    fill: #d6d6d6;
    opacity: .8;
}

.barchart-rect.bar-click {
  fill: #b71c1c !important;
  opacity: .4;
}

.barchart-rect.bar-hover {
  fill: #2979ff !important;
  opacity: .4;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 10px;
    background: rgba(29, 39, 55, 0.8);
    color: #fff;
    border-radius: 7px;
    z-index: 2000;
  }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(29, 39, 55, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }